In [10]:
import yfinance as yf
import numpy as np
import pandas as pd
from datetime import timedelta, datetime

In [11]:
tickers = [
    "CRM",
    "LOW",
    "BUD",
    "SNPS",
    "CRH",
    "SNOW",
    "MSNT",
    "STLA",
]

ticker = tickers[0]

# Get today's date
end_date = datetime.now()
start_date = end_date - timedelta(days=90)

# Format the dates
start = start_date.strftime("%Y-%m-%d")
end = end_date.strftime("%Y-%m-%d")

print(start)
print(end)

# Download data from Yahoo Finance
df = yf.download(ticker, start=start, end=end)
df.head()

2024-11-20
2025-02-18

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-11-20,325.290009,327.260010,322.010010,325.700012,325.328827,3763500
2024-11-21,331.350006,342.940002,328.600006,335.779999,335.397308,8364200
2024-11-22,338.950012,342.809998,335.779999,342.019989,341.630188,5649400
2024-11-25,345.000000,347.850006,338.290009,339.109985,338.723511,7117200
2024-11-26,341.980011,343.809998,339.140015,343.179993,342.788879,4492800

In [12]:
def get_features(df):
    df["LGR"] = np.log(df["Close"] / df["Close"].shift(1))
    df["Volume"] = np.log(df["Volume"])
    df["Volatility"] = df["Close"].std()
    df = df.dropna()
    return df[["LGR", "Volume", "Volatility"]]

df = get_features(df)
df.head()

                 LGR     Volume  Volatility
Date
2024-11-21  0.030479  15.939471   12.265173
2024-11-22  0.018413  15.547060   12.265173
2024-11-25 -0.008545  15.778025   12.265173
2024-11-26  0.011931  15.317987   12.265173
2024-11-27 -0.039132  15.826606   12.265173

In [13]:
path = f"../../CSVs/{ticker}_features.csv"
df.to_csv(path)